body, h1, h2, p, img, pre, code {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  color: red;
}

h1, h2 {
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.img-container {
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

code {
  font-family: "Courier New", monospace;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
#koch-curve, #modified-koch-curve, #sierpinski-triangle, #modified-sierpinski, #tree, #modified-tree {
  width: 80%;
}
img {
  border: 2px solid #ccc;
}

