body {
  font-family: Arial, sans-serif;
  color: gray;
  background-color: #f2f2f2; 
}
.container {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
}

.content {
  padding: 20px;
}

pre {
  font-size: 0.9em;
}

h1 {
  text-align: center;
  color: black;
}

pre {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  height: auto;
}
