body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #a9a9a9;
  padding-left: 20px; 
}

h1 {
  color: #4682B4;
  text-align: center;
}

pre {
  font-size: 0.9em;
}

img {
  max-width: 100%;
  height: auto;
}
